.MainPanel-wrapper{
	background-color: #f5f5f5;
	border-radius: 8px;
	height: 83vh;
}

.MainPanel-content{
	border-radius: 8px;
}

.overflowY-wrapper {
	height: 92%;
	overflow-y: auto;
}
.sideMenu {
	height: 100%;
}