.UserContent-grid{
	height: 83vh;
}

.GuestPage-plans {
	background-color: #f5f5f5;
	border-radius: 8px;
}


.UserContent-wrapper{
	border-radius: 8px;
}

.overflowY-wrapper {
	height: 92%;
	overflow-y: auto;
}
.sideMenu {
	height: 100%;
}

.SitePanel-wrapper {
	height: 92%;
}

.UserSiteInfo-wrapper {
	height: 100%;
}